<li class="groupList">
    {{!-- checking to see if the user object is the current user --}}
    {{#if (isUser @root.user.id id )}}
    {{name}} (me)
    {{else}}
    {{name}} <button class="sendMessageButton" data-recepient-id={{id}}>Send Message</button>
    {{/if}}
</li>