{{!-- <!-- Header -->
<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <img class="img-fluid mb-5 mx-auto" src="/img/notepad.png" alt="logo" style="width:280px;">
        <h1 class="text-uppercase mb-0">Pad Notes</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Keep your home tasks organized</h2>
    </div>
</header>

<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                {{!-- <h1>{{msg}}</h1> --}}
                {{!-- <table class="table">
                    <thead>
                    <tr>
                    <th scope="col">id</th>
                    <th scope="col">Chore</th>
                    <th scope="col">Complete</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {{#each chores}}
                            {{!-- {{> chores/chores-card}} --}}
                        {{!-- </tr>
                    </tbody>
                    
                    
                </table>

            </div>
        </div>
    </div>
</div>

{{!-- <script src="js/messages.js"></script> --}}   --}}