{{!-- <div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Chore</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {{#each chores}}
                        {{> chores/chores-card}}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> --}}

{{!-- --------------------------------------------------------- --}}
{{!-- <li>

    


    {{<div class="card">
        <div class="card-body">
            {{chore}}
        </div>
    </div> }}
</li> --}}


<script src="js/messages.js"></script>