<script src="../../js/choreEdit.js"></script>
    <button id="removeChore"> Remove Chore</button>
  <form id="editChoreForm"  data-chorecreator={{chore.UserId}} data-choreid={{chore.id}}>
                <div class="modal-body mx-3">
                  <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="text" id="chore" class="form-control validate" name="billName" value={{chore.chore}}>
                    <label id="groupCreateLabel" data-error="wrong" data-success="right" for="defaultForm-email">Chore Name</label>
                  </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                  <button type="submit" id="editChoreButton" class="btn btn-sm btn-dark">Update Chore</button>
                </div>
</form>
