<!-- Header -->
<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <img class="img-fluid mb-5 mx-auto" src="/img/notepad.png" alt="logo" style="width:280px;">
        <h1 class="text-uppercase mb-0">Pad Notes</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Keep your home tasks organized</h2>
    </div>
</header>
<script  src="js/groupJoin.js"></script>
<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <br>
                <br>
                <p>
                    <a href="" class = "btn btn-lg btn-primary btn-success mb-1 group-sign-btn" data-toggle="modal" data-target="#modalGroupFind">
                        Join an existing group
                    </a> or 
                    <a href="" class="btn btn-lg btn-primary btn-success mb-1 sign-up-btn" data-toggle="modal" data-target="#modalGroupCreate">
                        create a new group
                    </a>
                </p>
                <div class="modal fade" id="modalGroupCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Create a Group</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="createGroup">
                                <div class="modal-body mx-3">
                                    <div class="md-form mb-5">
                                        <i class="fas fa-envelope prefix grey-text"></i>
                                        <input type="text" id="group-name" class="form-control validate">
                                        <br>
                                        <label id="groupCreateLabel" data-error="wrong" data-success="right" for="defaultForm-email">Group Name</label>
                                    </div>
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                            
                                    <!-- Login Button -->
                                    <button id="createGroupButton" class="btn btn-sm btn-dark">Create Group</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
                                <div class="modal fade" id="modalGroupFind" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Join a Group</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="groupSearch">
                                <div class="modal-body mx-3">
                                    <div class="md-form mb-5">
                                        <i class="fas fa-envelope prefix grey-text"></i>
                                        <input type="text" id="group-name-search" class="form-control validate">
                                        <label id="groupJoinLabel" data-error="wrong" data-success="right" for="defaultForm-email">Group Name</label>
                                    </div>
                                    <div id="groupResults">

                                    </div>
                                </div>

                                <div class="modal-footer d-flex justify-content-center">
                            
                                    <button id="searchGroupButton" class="btn btn-sm btn-dark">Search for Group</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>

                <br>
                <br>
            </div>
        </div>
    </div>
</div>