<!-- NAV TABS -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item active">
    <a class="nav-link" id="bills-tab" data-toggle="tab" href="#bills" role="tab" aria-controls="bills"
      aria-selected="false">Bills</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="chores-tab" data-toggle="tab" href="#chores" role="tab" aria-controls="chores"
      aria-selected="false">Chores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="groceries-tab" data-toggle="tab" href="#groceries" role="tab" aria-controls="groceries"
      aria-selected="false">Groceries</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="messages-tab" data-toggle="tab" href="#chat" role="tab" aria-controls="messages"
      aria-selected="false">Chat</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="groups-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="groups"
      aria-selected="false">Groups</a>
  </li>
</ul>



<!-- TABS FUNCTIONALITY -->
<script>
  $(function () {
    $('#myTab li:last-child a').tab('show')
  })
</script>

{{!-- TASK INFO---------------------------------------}}
<script src="js/home.js"></script>
<div id="home">
  <div class="todo-container">
    <div class="row">
      <div class="col-8 offset-2">
        <br>
        <h2 class="welcome">Group Name: {{group.groupName}} <br>
          User Name: {{user.name}} {{user.user}}</h2>
        <br>

        <div class="tab-content">


          {{!-- BILLS TAB---------------------------------------}}
          <h2 class="category">{{msg}}</h2>

          <div class="tab-pane fade" id="bills" role="tabpanel" aria-labelledby="bills-tab">
            <div id='billsTab'>
              {{!-- <div class="row">
                <div class="col-10"> --}}
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Bill</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Document</th>
                    <th scope="col"></th>

                  </tr>
                </thead>
                <tbody>
                  {{#each bill}}
                  {{> bills/bill-card}}
                  {{/each}}
                </tbody>
              </table>
              <a href="" class="btn btn-md btn-primary btn-success mb-1 group-sign-btn" id="add-btn" data-toggle="modal"
                data-target="#modalAddBill"><i class="fa fa-plus"></i>
                Add Bill
              </a>
            </div>
          </div>



          {{!-- CHORES TAB---------------------------------------}}

          <div class="tab-pane fade" id="chores" role="tabpanel" aria-labelledby="chores-tab">
            {{!-- <div id='choresTab'> --}}
            {{!-- <div class="row">

                <div class="col-10"> --}}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Chore Name</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {{#each chore}}
                {{> chores/chore-card}}
                {{/each}}
              </tbody>
            </table>

            <a href="" class="btn btn-md btn-primary btn-success mb-1 group-sign-btn" id="add-btn" data-toggle="modal"
              data-target="#modalAddGrocery"><i class="fa fa-plus"></i>
              Add Chore
            </a>
          </div>
          {{!-- </div> --}}


          {{!-- GROCERIES TAB---------------------------------------}}
          <div class="tab-pane fade" id="groceries" role="tabpanel" aria-labelledby="groceries-tab">
            <div id='groceriesTab'>
              {{!-- <div class="row"> --}}
              {{!-- <div class="col-10"> --}}
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col-4">Item</th>
                    <th scope="col-4">Quantity</th>
                    <th scope="col-4"></th>
                  </tr>
                </thead>
                <tbody>
                  {{#each grocery}}
                  {{> groceries/grocery-card}}
                  {{/each}}
                </tbody>
              </table>


              <a href="" class="btn btn-md btn-primary btn-success mb-1 group-sign-btn" id="add-btn" data-toggle="modal"
                data-target="#modalAddGrocery"><i class="fa fa-plus"></i>
                Add Grocery
              </a>


            </div>
          </div>
        </div>

        {{!--  modals for adding bills --}}
        <div class="modal fade" id="modalAddBill" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Add a Bill</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="/bill/add" method="POST" id="addBillForm" enctype="multipart/form-data">
                <div class="modal-body mx-3">
                  <div class="md-form mb-5">

                    <i class="fas fa-file-invoice-dollar"></i>

                    <input type="text" id="bill-name" class="form-control validate" name="billName">
                    <label id="groupCreateLabel" data-error="wrong" data-success="right" for="defaultForm-email">Bill
                      Name</label>
                    <br>
                    <input type="text" id="bill-amount" class="form-control validate" name="amount">

                    <label id="groupCreateLabel" data-error="wrong" data-success="right" for="defaultForm-email">Bill
                      Amount</label>
                    <input type='file' name='image' />
                  </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">

                  <input type="submit" id="addBillButton" class="btn btn-default" value="Add Bill">
                </div>
              </form>
            </div>
          </div>
        </div>

        {{!-- modal for adding groceries --}}
        <div class="modal fade" id="modalAddGrocery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Add a Grocery</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form id="addGroeceryForm">
                <div class="modal-body mx-3">
                  <div class="md-form mb-5">
                    <i class="fas fa-shopping-cart"></i>
                    <input type="text" id="grocery-name" class="form-control validate">
                    <label id="groupCreateLabel" data-error="wrong" data-success="right" for="defaultForm-email">Grocery
                      Name</label>
                    <input type="text" id="grocery-quantity" class="form-control validate">
                    <label id="groupCreateLabel" data-error="wrong" data-success="right" for="defaultForm-email">Grocery
                      Quantity</label>
                  </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">

                  <button id="addGroceryButton" class="btn btn-default">Add Grocery</button>
                </div>
              </form>

            </div>
          </div>
        </div>

        {{!-- modal for adding chores --}}
        <div class="modal fade" id="modalAddChores" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Add a Chore</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form id="addChoreForm">
                <div class="modal-body mx-3">
                  <div class="md-form mb-5">
                    <i class="fas fa-broom"></i>
                    <input type="text" id="chore-name" class="form-control validate">
                    <label id="groupCreateLabel" data-error="wrong" data-success="right" for="defaultForm-email">Chore
                      Name</label>
                  </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">

                  <button id="addChoreButton" class="btn btn-sm btn-default">Add Chore</button>
                </div>
              </form>

            </div>
          </div>
        </div>



        <br>
        <br>
      </div>
    </div>
  </div>
</div>
</div>