<!-- Header -->
<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <img class="img-fluid mb-5 mx-auto" src="/img/notepad.png" alt="logo" style="width:280px;">
    <h1 class="text-uppercase mb-0">Pad Notes</h1>
    <hr class="star-light">
    <h2 class="font-weight-light mb-0">Keep your home tasks organized</h2>
  </div>
</header>

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        {{!-- <h1>{{msg}}</h1> --}}
        <form class="clearfix mb-4" action="POST"></form>
        <br>
        <br>
        <p>Welcome to your home page </p>
 
      

            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>