<!-- NAV TABS -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="bills-tab" data-toggle="tab" href="#bills" role="tab" aria-controls="bills" aria-selected="false">Bills</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="chores-tab" data-toggle="tab" href="#chores" role="tab" aria-controls="chores" aria-selected="false">Chores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="groceries-tab" data-toggle="tab" href="#groceries" role="tab" aria-controls="groceries" aria-selected="false">Groceries</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Messages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="groups-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="groups" aria-selected="false">Groups</a>
  </li>
</ul>

<!-- TABS CONTENT -->
<div class="tab-content">
  <div class="tab-pane fade" id="bills" role="tabpanel" aria-labelledby="bills-tab">...</div>
  <div class="tab-pane fade"id="chores" role="tabpanel" aria-labelledby="chores-tab">...</div>
  <div class="tab-pane fade" id="groceries" role="tabpanel" aria-labelledby="groceries-tab">...</div>
  <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab">...</div>
  <div class="tab-pane fade" id="groups" role="tabpanel" aria-labelledby="groups-tab">...</div>

</div>

<!-- TABS FUNCTIONALITY -->
<script>
  $(function () {
    $('#myTab li:last-child a').tab('show')
  })
</script>

<script src="js/home.js"></script>
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        {{!-- <h1>{{msg}}</h1> --}}
        <form class="clearfix mb-4" action="POST"></form>
        <br>
        <br>
        <p>Welcome to {{group.groupName}} {{user.name}} {{user.id}}</p>
        <div id='billsTab'>
          <ul>
            {{#each bill}}
            {{> bills/bill-card }}
            {{/each}}
          </ul>
          <a href="" class="btn btn-default btn-rounded mb-1 group-sign-btn" data-toggle="modal" data-target="#modalAddBill">
            Add Bill
          </a>
        </div>
        <div id='groceriesTab'>
          <ul>
            {{#each grocery}}
            {{> groceries/grocery-card}}
            {{/each}}
          </ul>
          <a href="" class="btn btn-default btn-rounded mb-1 group-sign-btn" data-toggle="modal" data-target="#modalAddGrocery">
            Add Grocery
          </a>
        </div>
        {{!--  modal for adding bills --}}
        <div class="modal fade" id="modalAddBill" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Add a Bill</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form id="addBillForm">
                <div class="modal-body mx-3">
                  <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="text" id="bill-name" class="form-control validate">
                    <label id="groupCreateLabel" data-error="wrong" data-success="right" for="defaultForm-email">Bill
                      Name</label>
                    <input type="text" id="bill-amount" class="form-control validate">
                    <label id="groupCreateLabel" data-error="wrong" data-success="right" for="defaultForm-email">Bill
                      Amount</label>
                  </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">

                  <button id="addBillButton" class="btn btn-default">Add Bill</button>
                </div>
              </form>

            </div>
          </div>
        </div>

        {{!-- modal for adding groceries --}}
        <div class="modal fade" id="modalAddGrocery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Add a Grocery</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form id="addGroeceryForm">
                <div class="modal-body mx-3">
                  <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="text" id="grocery-name" class="form-control validate">
                    <label id="groupCreateLabel" data-error="wrong" data-success="right" for="defaultForm-email">Grocery
                      Name</label>
                    <input type="text" id="grocery-quantity" class="form-control validate">
                    <label id="groupCreateLabel" data-error="wrong" data-success="right" for="defaultForm-email">Grocery
                      Quantity</label>
                  </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">

                  <button id="addGroceryButton" class="btn btn-default">Add Grocery</button>
                </div>
              </form>

            </div>
          </div>
        </div>




        <br>
        <br>
      </div>
    </div>
  </div>
</div>