{{!-- html taken from passport api reference --}}
<script src="/js/login.js"></script>

<form id="log-in" method="post">
    <div>
        <label>Email:</label>
        <input id="email" type="text" name="email"/>
    </div>
    <div>
        <label>Password:</label>
        <input id="password" type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>