<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        {{!-- <h1>{{msg}}</h1> --}}
        <form class="clearfix mb-4" action="POST"></form>
        <br>
        <br>
        <ul class=" text-center">
          {{#each messages}}
          {{> messages/message-card}}
          {{/each}}
        </ul>


        <br>
        <br>
      </div>
    </div>
  </div>
</div>

<script src="js/messages.js"></script>