<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2 message-con">
        <h1 class="messages-head">System Messages</h1>
        <ul class="text-center message-list">
          {{#each messages}}
          {{> messages/message-card}}
          {{/each}}
        </ul>


        <br>
        <br>
      </div>
    </div>
  </div>
</div>

<script src="js/messages.js"></script>