<h1>Update the task with an id of {{this.id}}</h1>

<form data-id="{{this.id}}" class="update-form">

  <div class="form-group">
    <label for="auth">Category:</label>
    <input type="text" id="auth" name="category" value="{{this.category}}">
  </div>

  <div class="form-group">
    <label for="task">Task:</label>
    <textarea id="task" name="task" rows="8" cols="40">{{this.task}}</textarea>
  </div>

  <button type="submit">Update Task</button>
</form>
