<li class="message-item">
    {{#if (isJoinRequest type)}}
        <div>Group join request from {{senderName}} <button class="acceptJoinRequest" data-messageId="{{id}}">Accept</button><button class="ignoreJoinRequest" data-messageId="{{id}}">Ignore</button></div>
    {{/if}}
</li>