.list-group-item {
  line-height: 2.5;
}

/* ---------------GOOGLE FONTS------------------------------ */

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Cutive+Mono|Nova+Mono|Roboto+Condensed|Share+Tech+Mono');


/* ---------------HEADER------------------------------ */

header.masthead {
  padding-top: calc(5rem + -19px);
  padding-bottom: 5rem;
  background-color: #cde0ec!important;
}

.html {
  background-image: url(lined_paper.png);
}

.welcome {
  font-size: 2rem;
  font-family: 'Share Tech Mono', monospace;
  /* color: whitesmoke; */
  color:#293241;
}

header.masthead h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 5rem;
  line-height: 3rem;
}

header.masthead h2 {
  font-size: 1.3rem;
  font-family: 'Share Tech Mono', monospace;
}

/* ---------------LOGIN------------------------------ */

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

.form-container {
  background:#a8becc;
  padding: 20px;
}

h1 {
  color: #FFFFFF;
  font-size: 26px;
}

p {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 19px;
}

.introPara{
  text-align: center;
  color: #1a1f29;
}

label {
  color: whitesmoke;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 19px;
}

a {
  /* color: black; */
  color:#293241;
  text-decoration: none;
  background-color: transparent;
}

.form-signin {
  position: relative;
  z-index: 1;
  background: dodgerblue;
  color: white margin: 0 auto;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: green;
  hover:
    width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: orange;
}

.form .message {
  margin: 15px 0 0;
  color: #black;
  font-size: 15px;
}

.form .message a {
  color: black;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

html {
  min-height: 100%;
}

body {
  /* background: dodgerblue; */
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  padding: 0;
  margin: 0;


  /* padding-bottom: 40px; */
}

#home {
  min-height: 100vh;
  background-color:#3d5a80 ;
}

/* ---------------BILLS------------------------------ */

.row{
  overflow: scroll;
}

button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.card {
  margin: 0 auto;

}

.bill-container {
  margin-top: 50px;
}

.bill-list {
  margin-top: 25px;
}

.blog-container {
  margin-top: 30px;
}

.blog {
  margin-top: 30px;
}

#bill-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

/* ---------------HOME----------------------------- */

h2 {
  text-align: center;
  color: rgb(56, 55, 55);
}

.tab-content {
  /* background-color: rgba(30, 144, 255); */
  background-color:  #cde0ec;


}

.todo-container {
  /* background: dodgerblue; */
  background-color: #cde0ec;
  height: 100vh;
}

.tasks-container {
  background: green;

}

.taskanchor {

  background-color: green;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.manage-link {
  color: white;
}

.modal-content{
  background-color: rgb(69, 95, 129);
}

.modal-body {
  /* background: dodgerblue; */
  background-color: rgb(150, 163, 180);
}
.modal-title{
  color: white;
}
.modal-header{
  border-bottom: solid #ee6c4d;
}
.modal-footer{
  border-top: solid rgb(69, 95, 129);
}

.navbar{
  background-color: #293241!important;
  border-bottom-style: solid;
  border-bottom-color:#ee6c4d; 
}

.nav-item.show .nav-link,
.nav-link.active {
  color: white;
  background-color: dodgerblue;
  border-color: none
}

.nav-tabs {
  padding-top: 1em;
  /* background-color: lightblue; */
  background-color: #98c1d9;
  font-family: 'Roboto Condensed', sans-serif;
  border-top-style: solid;
  border-top-color: #ee6c4d;
}


.nav-link.active {
  /* background-color: dodgerblue !important; */
  background-color: #cde0ec!important;
  /* color: white !important; */
  color: #3d5a80!important;
  border-color: none !important;
}

.nav-tabs>li>a:hover {
  /* background-color: black; */
  background-color: #3d5a80;
  border: medium none;
  border-radius: 0;
  color: #fff;
  border-color: none;
}

.nav-tabs .nav-link {
  border: none;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}


.btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  float: right;
  line-height: 1.5;
  border-radius: .2rem;
}


table {
  border-color: lightgray;
  margin: 0 auto;
  width: 100%;
  background: lightgrey;
  margin-bottom: 1rem;
  color: #212529;
}

thead{
  background-color: rgb(69, 95, 129);
  border-bottom-style: solid;
  border-bottom-color: #293241;
  color: white;
}

tbody {
  background-color: white;


}


tr:hover {
  /* background-color: rgba(204, 204, 204); */
  background-color: rgb(136, 152, 173);
  color: white;
  


}


#add-btn {
  margin-left: 1em;

}

.groupList {
  list-style: none;
}

#myGroupTab {
  background-color: white;
  border-top-style: solid;
  border-width: 0.5mm;
  border-top-color: #293241;
  padding: 5px;
}


/* -----------------------CHAT----------------------------------------- */

/* Chat containers */
.chat-container {
  /* border: 2px solid #dedede; */
  border-bottom: 0.5mm solid #293241;
  border-right: 0.5mm solid #293241;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker-chat {
  border-color: #ccc;
  background-color: #ddd;
}

/* Message input container*/
#messageBody-input{
  border-bottom: solid 0.5mm #293241;
  border-right: solid 0.5mm #293241;
}

/* Clear floats */
.chat-container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.chat-container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.chat-container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Style time text */
.chat-time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.chat-time-left {
  float: left;
  color: #999;
}

.chat-jumbotron {
  padding: 4rem 2rem;
  background-color: slategray;
  color: white;
}

.chat-card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  color: white;
  background-color: royalblue;
}

.chatLabel{
  color: #293241;
}