<ui>
    <div class="card">
        <div class="card-body">
            {{chore}}
        <button id="editChore" type="button" class="btn btn-sm btn-dark" data-billid={{id}}>Edit Chore</button>

        </div>
    </div>
</ui>
<br>

{{!-- ----------------------------------------- --}}

